.card__like-button {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
  background-image: url(../../../images/VectorLike.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.card__like-button:hover {
  opacity: 0.5;
}
