.footer {
  width: calc(100% - 2 * 200px);
  margin: 67px auto 60px auto;
}

@media screen and (max-width: 1060px) {
  .footer {
    width: calc(100% - 2 * 19px);
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
